# Disable directory browsing
Options All -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirect non-file/folder requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

    # Preserve Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>

<FilesMatch "(\.env|phpunit\.xml\.dist|changelog|README\.md|composer\.json|vendor/composer/installed\.json|\.ini|\.lock|\.sh)$">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header always append X-Frame-Options DENY
    Header unset X-Forwarded-Host
    Header always set Strict-Transport-Security max-age=31536000
    Header set X-Content-Type-Options nosniff
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

ServerSignature Off
